{% extends 'tracker/base.html' %}
{% load static %}
{% block content %}
<section class="banner mt-5" id="home">
    <div class="search-container ">
        <form method="POST" action="{% url 'search' %}" class="d-flex search-form align-items-center">
            {% csrf_token %}
            <input type="text" name="element_name" class="form-control me-2 rounded-5 my-auto" id="searchBar" placeholder="Digite o nome do ativo">
            <button type="submit" class="search-btn btn btn-dark rounded-5 my-auto">Pesquisar</button>
        </form>
    </div>
    {% if error == 'conflict' %}
    <div class="alert alert-danger error-container" role="alert">
        O ativo já está sendo acompanhado!
    </div>
    {% endif %}
    {% if stock %}
    <div class="search-card-container">
        <div class="card w-50 pt-3">
            <div class="card-body">
                <h5 class="card-title">{{ stock.name }}</h5>
                <p class="card-text">US$ {{ stock.price }}</p>
                    <form method="POST" action="{% url 'persist' %}" class="signup-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" name="max_val" class="form-control me-2 rounded-5 my-auto" id="searchBar" placeholder="Limite máximo" pattern="[0-9]+(\.[0-9]+)?" title="Informe um número válido" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="min_val" class="form-control me-2 rounded-5 my-auto" id="searchBar" placeholder="Limite mínimo" pattern="[0-9]+(\.[0-9]+)?" title="Informe um número válido" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="timmer" class="form-control me-2 rounded-5 my-auto" id="searchBar" placeholder="Periodicidade" pattern="[0-9]+(\.[0-9]+)?" title="Informe um número inteiro válido" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" name="track_time" class="form-control me-2 rounded-5 my-auto" id="searchBar" placeholder="Duração" pattern="[0-9]+(\.[0-9]+)?" title="Informe um número inteiro válido" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="hidden" name="name" value="{{ stock.name }}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="hidden" name="price" value="{{ stock.price }}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <button type="submit" class="search-btn btn btn-dark rounded-5 my-auto">Salvar</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% for dt in data %}
    <div class="search-card-container">
        <div class="card w-50 pt-3">
            <div class="card-body">
                {% csrf_token %}
                <h5 class="card-title">{{ dt.name }}</h5>
                <p class="card-text">Preço: US${{ dt.price }}</p>
                <p class="card-text">Valor máximo: US${{ dt.max_val }}</p>
                <p class="card-text">Valor mínimo: US${{ dt.min_val }}</p>
                <p class="card-text">Frequencia de atualização: {{ dt.timmer }} minutos</p>
                <p class="card-text">Duração do acompanhamento: {{ dt.track_time }} minutos</p>
                <form action="{% url 'deletestock' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ dt.id }}">
                    <button class="btn btn-danger" type="submit">Deletar</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}