{% extends 'tracker/base.html' %}
{% load static %}
{% block content %}
<section class="banner" id="login">
    <form method="post" action="{% url 'login' %}" class="signup-form">
        {% csrf_token %}
        <div class="form-group bg-white signup-container">
            <div class="p-3">
                <label class="text-dark fw-bold" for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="username" required>
            </div>
            <div class="p-3">
                <label class="text-dark fw-bold" for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>
            <input class="btn btn-primary m-3" type="submit" value="Login">
        </div>
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
</section>
{% endblock %}