{% load static %}

<nav class="navbar navbar-expand-md scrolled">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static '/assets/logo.svg' %}"alt="Logo" class="logo">
      </a>
      <div class="collapse navbar-collapse justify-content-end text-center" id="basic-navbar-nav">
        <span class="navbar-text d-none d-lg-block">
          {% if user.is_authenticated %}
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="vvd">Sair</button>
          </form>
          {% else %}
          <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <button class="vvd">Registrar</button>
          </form>
          {% endif %}
        </span>
      </div>
    </div>
  </nav>
  